.expense-date{
    height: 13vh;
    width: 7vw;
    background-color: rgb(59, 52, 52);
    border: 2px solid white;
    border-radius: 1rem;
    margin-left: 1rem;
    align-items: center;
}

.expense-date__month, .expense-date__day, .expense-date__year{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: .3rem;
}


/* Mobile resposive */
@media screen and (max-width: 600px){
    .expense-date{
        width: 20vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 950px){
    .expense-date{
        height: 14vh;
        width: 15vw;
    }
}


@media screen and (min-width: 950px) and (max-width: 1280px){
    .expense-date{
        height: 14vh;
        width: 12vw;
    }
}